@-moz-keyframes spin { 0% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@font-face {
  font-family: Futura;
  src: url(assets/futura-book-font.ttf);
}

@font-face {
  font-family: FuturaLight;
  src: url(assets/futura-light-bt.ttf);
}

@font-face {
  font-family: FuturaHeavy;
  src: url(assets/futura-hevay-font.ttf);
}

* {
  color: #143684;
  font-family: FuturaLight, Helvetica, Arial;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 3px;
  position: absolute;
  top: 36%;
  left: 52.5%;
}

p {
  color: #F4D131;
  font-family: FuturaHeavy, Helvetica, Arial;
  font-size: 16px;
  left: 52.5%;
  position: absolute;
  top: 46%;
}

.contact-link {
  font-family: FuturaHeavy, Helvetica, Arial;
  font-size: 18px;
  left: 52.5%;
  position: absolute;
  text-decoration: none;
  top: 60%;
}

.content-wrapper {
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1000px;
}

.img-august-28-words {
  left: 40%;
  position: absolute;
  top: 0;
  top: 24%;
  width: 100px;
}

.img-circle {
  left: 15%;
  position: absolute;
  top: 5%;
  width: 250px;

}

.img-word-circle {
  left: -145px;
  position: absolute;
  top: 30%;
  width: 300px;
  -webkit-animation:spin 100s linear infinite;
  -moz-animation:spin 100s linear infinite;
  animation:spin 100s linear infinite;
}

.vertical-line {
  height: 25px;
  border-left: 1px solid #143684;
  position: absolute;
  left: 52.5%;
  top: 53%;
}

@media only screen and (min-width: 560px) {
}

@media only screen and (min-width: 672px) {
}


