@-moz-keyframes spin { 0% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@font-face {
  font-family: FuturaLight;
  src: url(assets/futura-light-bt.ttf);
}

@font-face {
  font-family: FuturaHeavy;
  src: url(assets/futura-heavy-font.ttf);
}

* {
  color: #143684;
  font-family: FuturaLight, Helvetica, Arial;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 3px;
  position: absolute;
  top: 33%;
  left: 52%;
}

p {
  color: #F4D131;
  font-family: FuturaHeavy, Helvetica, Arial;
  font-size: 12px;
  left: 52%;
  position: absolute;
  top: 44%;
}

.contact-link {
  font-family: FuturaHeavy, Helvetica, Arial;
  font-size: 14px;
  left: 52%;
  position: absolute;
  text-decoration: none;
  top: 55%;
}

.content-wrapper {
  height: 600px;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
  /*width: 100%;*/
  /*max-width: 1000px;*/
  width: 400px;
}

.img-august-28-words {
  left: 40%;
  position: absolute;
  top: 20.7%;
  /*width: 100px;*/
  width: 25%;
}

.img-circle {
  left: 15%;
  position: absolute;
  top: 5%;
  /*width: 250px;*/
  width: 62%;
}

.img-word-circle {
  left: -38%;
  position: absolute;
  top: 30%;
  width: 75%;
  -webkit-animation:spin 100s linear infinite;
  -moz-animation:spin 100s linear infinite;
  animation:spin 100s linear infinite;
}

.vertical-line {
  height: 25px;
  border-left: 1px solid #143684;
  position: absolute;
  left: 52%;
  top: 49%;
}

@media only screen and (min-width: 768px) {

  .content-wrapper {
    height: 1000px;
    width: 667px;
  }
}

@media only screen and (min-width: 1025px) {

  h1 {
    font-size: 30px;
  }


  p {
    font-size: 18px;
    top: 44%;
  }

  .contact-link {
    font-size: 20px;
    top: 66%;
  }

  .content-wrapper {
    height: 1200px;
    width: 800px;
  }

  .img-word-circle {
    left: -10%;
    top: 34%;
    width: 50%;
  }

  .vertical-line {
    height: 200px;
    top: 48%;
  }
}
